body {
    align-content: center;
    background-color: black;
    color: white;
    text-align: center;
}
#logo {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}
#resize{
    height: 175px;
    width: 175px;
}